<div>
    <h1>Overview</h1>
    <!--Grid List to display overview Cards for latest tank reading data-->
    <mat-grid-list cols="{{ (layout | async )?.columns}}" rowHeight="200px">
        <mat-grid-tile *ngFor="let param of displayedOverviewCards;">

            <!--Overview Card with tankparamter data-->
            <overview-card
                [colspan]="(layout | async)?.overview.col_span"
                [rowspan]="(layout | async)?.overview.row_span"  
                [icon]="cardLabels[param].icon" 
                [value]="latestReading[param]" 
                [valueType]="cardLabels[param].type"
                [unit]="cardLabels[param].unit" 
                [label]="cardLabels[param].label"
                [isDateTime]="param === 'timestamp'">
            </overview-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Add Reading Button-->
    <div class="overview-button-wrapper">
        <a mat-raised-button color="primary" class="overview-button" routerLink="add-reading">Add Reading</a>
    </div>

    <!-- Today Overview Graphs -->
    <h1>Today's Trends</h1>
    <chart-card-line *ngFor="let chart of chartData" class="trends-charts"
        [chartData]="chart"
        [sampling]="(layout | async)?.charts.sampling"
        [lineColors]="chartLineColor"
        [pointRadius]='(layout | async)?.charts.pointSize'
        [pointHitRadius]='(layout | async)?.charts.pointRadius'>
    </chart-card-line>
</div>
