<div>
    <h1>Overview</h1>
    <!--Grid List to display overview Cards for latest tank reading data-->
    <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile *ngFor="let param of displayedCards;">

            <!--Overview Card with tankparamter data-->
            <reading-card  
                [icon]="'check'" 
                [value]="latestReading[param]" 
                [unit]="cardLabels[param].unit" 
                [label]="cardLabels[param].label">
            </reading-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Table with all tank readings -->
    <reading-table></reading-table>
</div>