<div>
    <h1>Overview</h1>
    <!--Grid List to display overview Cards for latest tank reading data-->
    <mat-grid-list cols="{{ (layout | async )?.columns}}" rowHeight="200px">
        <mat-grid-tile *ngFor="let param of displayedCards;">

            <!--Overview Card with tankparamter data-->
            <reading-card
                [colspan]="(layout | async)?.overview.col_span"
                [rowspan]="(layout | async)?.overview.row_span"  
                [icon]="cardLabels[param].icon" 
                [value]="latestReading[param]" 
                [unit]="cardLabels[param].unit" 
                [label]="cardLabels[param].label"
                [isDateTime]="param === 'timestamp'">
            </reading-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Today Overview Graphs -->
    <h1>Today's Trends</h1>
</div>