@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

button.new-reading{
    top: 15px;
}

button.form-button{
    width: 30%; 
    min-width: min-content; 
}

.form-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

a.overview-button{
    width: 25%;
    min-width: min-content;
}

.overview-button-wrapper{
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;  
    
    padding-left: 15px; 
    margin-bottom: 1.5rem;
}