<mat-card class="overview-card mat-elevation-z8">

    <!--NGX Chart-->
    <ngx-charts-line-chart *ngIf="lineChartData"
        [results]="lineChartData"
        [scheme]="colorScheme"
        [schemeType]="colorSchemeType"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [xAxis]="showXAxis"
        [showXAxisLabel]="showXLabel"
        [xAxisLabel]="xLabel"
        [yAxis]="showYAxis"
        [showYAxisLabel]="showYLabel"
        [yAxisLabel]="yLabel"
        [showGridLines]="showGridLines">
    </ngx-charts-line-chart>

    <!-- No Data Found Message-->
    <mat-card-title *ngIf="!lineChartData">
        <h1 class="no-data-text"> No Data Found </h1>
    </mat-card-title>

</mat-card>
