<!-- Overview Cards showing stats from the latest cleaning -->
<h2>Last Cleaning</h2>

<!-- Mat Grid used to arrange cards-->
<mat-grid-list cols="{{ layout?.overviewCards.columns }} " rowHeight="{{ layout?.overviewCards.rowHeight }}">

    <!-- Overview Card -->
    <mat-grid-tile *ngFor="let card of displayedCards">

        <!-- Display latest cleaning log if returned -->
        <overview-card *ngIf="latestCleaning"
            [colspan]= "layout?.overviewCards.col_span"
            [rowspan]="layout?.overviewCards.row_span"
            [value]="card === 'pct_change'? latestCleaning[card] * 100 : latestCleaning[card] "
            [valueType]="cardLabels[card].type"
            [unit]="cardLabels[card].unit"
            [label]="cardLabels[card].label"
            [icon]="cardLabels[card].icon"
            >
        </overview-card>

         <!-- Display placeholder card if not returned -->
         <overview-card *ngIf="!latestCleaning"
            [colspan]= "layout?.overviewCards.col_span"
            [rowspan]="layout?.overviewCards.row_span"
            [value]="null"
            [valueType]="cardLabels[card].type"
            [unit]="cardLabels[card].unit"
            [label]="cardLabels[card].label"
            [icon]="'cached'"
         >
     </overview-card>

    </mat-grid-tile>
</mat-grid-list>

<!-- New Cleaning Button -->
<div class="overview-button-wrapper">
    <a mat-raised-button color="primary" routerLink='add-cleaning' class="overview-button">
        Add Cleaning
    </a>
</div>

<!-- Table displaying all tank cleanings-->
<h2>All Cleanings</h2>
<div class="table-wrapper">
    <cleaning-log
        [cleaningData]="allCleaningLogs">
    </cleaning-log>
</div> 
