.charts-container{
    display: flex; 
    flex-direction: column;
}

.chart{
    height: 400px;
}

.option-header{
    display: flex; 
    align-items: center;
}

.option-icon{
    padding-right: .5rem
}
