.charts-container{
    display: flex; 
    flex-direction: column;
}

.chart{
    height: 400px;
}

.option-card{
    position: absolute; 
    top: 25px; 
    bottom: 25px; 
    left: 15px; 
    right: 15px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.option-header{
    display: flex; 
    align-items: center;
}

.option-icon{
    padding-right: .5rem
}

.option-spacing{
    flex-grow: .2;
}
