<mat-card class="form-wrapper">
    <h2>New Reading</h2>

    <!-- Reading input field-->
    <form [formGroup]="readingForm" (ngSubmit)="saveReading()" class="form-layout">

        <!-- Ammonia Input Feild-->
        <mat-form-field>
            <mat-label>Ammonia</mat-label>
            <input matInput formControlName="ammonia" placeholder="0.0" type="number">
        </mat-form-field>

        <!-- Nitrite Input Feild-->
        <mat-form-field>
            <mat-label>Nitrite</mat-label>
            <input matInput formControlName="nitrite" placeholder="0.0" type="number"/>
        </mat-form-field>

        <!-- Nitrate Input Feild-->
        <mat-form-field>
            <mat-label>Nitrate</mat-label>
            <input matInput formControlName="nitrate" placeholder="0.0" type="number"/>
        </mat-form-field>

        <!-- PH Input Feild-->
        <mat-form-field>
            <mat-label>PH</mat-label>
            <input matInput formControlName="ph" placeholder="0.0" type="number"/>
        </mat-form-field>

        <!-- Temperature Input Feild-->
        <mat-form-field>
            <mat-label>Temperature</mat-label>
            <input matInput formControlName="temperature" placeholder="00.0" type="number"/>
        </mat-form-field>

        <!-- Container for Buttons -->
        <div class="form-button-wrapper button-spacing">

            <!-- Cancel Button -->
            <button
                mat-stroked-button
                color="accent"
                class="form-button"
                routerLink="/reading">
                Cancel    
            </button>
        
            <!-- Add cleaning button -->
            <button 
                mat-raised-button 
                color="primary"
                class="form-button"
                type="submit">
                Save Reading
            </button>

        </div>
        

    </form>

</mat-card>
