<!-- Date Input Field-->
<form [formGroup]="dateForm">
    <mat-form-field class="date-field">
        <mat-label>Date</mat-label>
        <input matInput 
            placeholder="MM/DD/YYYY" 
            [matDatepicker]="datePicker"
            formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <!-- Hour Input Field-->
    <mat-form-field class="hour-field">
        <mat-label>Hr</mat-label>
        <mat-select formControlName="hour">
            <mat-option *ngFor="let hour of hours" [value]="hour.value">
                {{hour.option}}
            </mat-option> 
        </mat-select>
    </mat-form-field>

    <!-- Colon for display between hour and min selection-->
    <span class="time-seperator">:</span>

    <!-- Minute Input Field -->
    <mat-form-field class="minute-field">
        <mat-label>Min</mat-label>
        <mat-select matNativeControl formControlName="minute">
            <mat-option *ngFor="let minute of minutes" [value]="minute.value">
                {{minute.option}}
            </mat-option> 
        </mat-select>
    </mat-form-field>

</form>

<span *ngIf="parentForm" [formGroup]="parentForm">
    <input type="hidden" formControlName="timestamp">
</span>

