<!-- Component container for evelvation  -->
<div class="mat-elevation-z8">

    <!-- Table -->
    <table mat-table [dataSource]="displayData" class="table-width">

        <!-- Time Column Template -->
        <ng-container matColumnDef="timestamp" >
            <th mat-header-cell *matHeaderCellDef class="column-spacing">Time</th>
            <td mat-cell *matCellDef="let cleaning">{{cleaning.timestamp | date:'short'}}</td>
        </ng-container>
    
        <!-- Percent Change Column Template -->
        <ng-container matColumnDef="pct_change">
            <th mat-header-cell *matHeaderCellDef class="column-spacing" >% Change</th>
            <td mat-cell *matCellDef="let cleaning">{{cleaning.pct_change * 100}}%</td>
        </ng-container>
    
        <!-- Filter Change Column Template -->
        <ng-container matColumnDef="filter_change">
            <th mat-header-cell *matHeaderCellDef>Filter Change</th>
            <td mat-cell *matCellDef="let cleaning">{{cleaning.filter_change ? "Yes" : "No"}}</td>
        </ng-container>
    
        <!-- Row Template-->
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:tableColumns"></tr>
    
    </table>

    <!-- Table Paginator -->
    <mat-paginator [pageSizeOptions]="tablePageSize" showFirstLastButtons></mat-paginator>
</div>
