div.view-container {
    padding: 15px;
    margin: 0 auto;
    max-width: 940px;
}

.fill-remaining-space{
    flex: 1 1 auto;
}

.overview-card{
    position: absolute; 
    top: 40px; 
    bottom: 40px; 
    left: 15px; 
    right: 15px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}