<!-- Page Content-->
<mat-sidenav-container>

  <!-- Side Nav Menu -->
  <mat-sidenav #nav
    [fixedInViewport]="true">

    <!-- Menu header at top of side nav-->
    <mat-toolbar color="primary" class="fill-remaining-space">Menu</mat-toolbar>

    <!-- Navigation Options -->
    <mat-nav-list class="nav-options">

      <!-- Dashobard Link-->
      <a mat-list-item routerLink="/" (click)="nav.close()">
        <i class="material-icons link-icon">dashboard</i>
        Overview
      </a>

      <!-- Cleaning Overview Link-->
      <a mat-list-item routerLink="/cleaning" (click)="nav.close()">
        <i class="material-icons link-icon">cleaning_services</i>
        Cleaning Log
      </a>

      <!-- Custome Charts Link-->
      <a mat-list-item routerLink="/charts/dynamic" (click)="nav.close()">
        <i class="material-icons link-icon">bar_chart</i>
        Custom Charts
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Primary page content-->
  <mat-sidenav-content class="container-fill">

      <!-- Toolbar for page heading -->
      <mat-toolbar color="primary" class="mat-elevation-z10 app-toolbar">

        <!-- Menu button -->
        <button mat-button (click)="nav.open();">
          <i class="material-icons">menu</i>
          Menu
        </button>

        <!-- Spacing between elements -->
        <span class="fill-remaining-space"></span>

        <!-- App header -->
        <div class="header-position"><i class="material-icons header-icon">opacity</i>AquaPi</div>

         <!-- Spacing between elements -->
        <span class="fill-remaining-space"></span>
      </mat-toolbar>

      <!-- Page content -->
      <div class="view-container">
        <message-banner></message-banner>
        <router-outlet></router-outlet>
      </div>

  </mat-sidenav-content> 

</mat-sidenav-container>
