.app-toolbar{
    position: fixed; 
    z-index: 10;
}

.container-fill{
    height: 100vh;
}

.fill-remaining-space{
    flex: 1 1 auto;
}

.header-icon{
    position: relative; 
    top: 5px
}
.header-position{
    transform: translateX(-50%);
}

.link-icon{
    margin-right: .5rem;
}

.nav-options{
    min-width: 300px;
}

.view-container {
    padding: 15px;
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1080px;
    z-index: 0;
}