.flex-center-content{
    margin: 0px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.card-icon{
    transform: scale(1.5);
}

.no-margin{
    margin: 0px !important;
}

.card-label{
    font-weight: 400; 
    margin: 0px; 
    text-align: center; 
    color: gray;
}