
<mat-card class="overview-card mat-elevation-z8">
    <!-- Displayes Singual Reading Parameter-->
    <mat-card-header class="flex-center-content">

        <!-- Parameter Status Icon-->
        <div mat-card-avatar class="flex-center-content">
            <i class="material-icons card-icon">{{icon}}</i>
        </div>

        <!-- Parameter Value-->
        <mat-card-title class="no-margin">
            <h1 *ngIf="!isDateTime" class="no-margin">{{value | number: '.1-2'}} {{unit}}</h1>
            <h1 *ngIf="isDateTime" class="no-margin">{{ date | date: 'shortTime': TIMEZONE}}</h1>
        </mat-card-title>
    </mat-card-header>

    <!-- Parameter Label -->
    <h3 *ngIf="!isDateTime" class="card-label">{{label}}</h3>
    <h3 *ngIf="isDateTime" class="card-label">{{ date | date:'fullDate':TIMEZONE}}</h3>
    
</mat-card>
