
<mat-card class="mat-elevation-z10" class="overview-card">
    <!-- Displayes Singual Reading Parameter-->
    <mat-card-header class="flex-center-content">

        <!-- Parameter Status Icon-->
        <div mat-card-avatar class="flex-center-content">
            <i class="material-icons card-icon">{{icon}}</i>
        </div>

        <!-- Parameter Value-->
        <mat-card-title class="no-margin">
            <h1 *ngIf="!isDateTime" class="no-margin">{{value}} {{unit}}</h1>
            <h1 *ngIf="isDateTime" class="no-margin">{{value | date: 'shortTime'}}</h1>
        </mat-card-title>
    </mat-card-header>

    <!-- Parameter Label -->
    <h3 *ngIf="!isDateTime" class="card-label">{{label}}</h3>
    <h3 *ngIf="isDateTime" class="card-label">{{value | date:'fullDate'}}</h3>
    
</mat-card>
